In [1]:
%matplotlib inline
import pandas as pd

In [2]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

In [4]:
titles = pd.read_csv('data/titles.csv')
titles.head()

               title  year
0     En la hacienda  1922
1     Unruhige Nacht  1958
2    Dissonance (II)  2008
3  Self Intervention  2010
4                Ate  2008

In [96]:
cast = pd.read_csv('data/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

### How many movies are listed in the titles dataframe?

In [11]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [13]:
titles.sort_values(by='year').head(2)

                     title  year
220618          Miss Jerry  1894
21789   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [17]:
len(titles[titles.title == 'Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [18]:
len(titles[titles.title == 'North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [28]:
titles[titles.title == 'Hamlet'].sort_values(by='year').head(1)

        title  year
39173  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [31]:
titles[titles.title.str.contains('Treasure Island')].sort_values(by='year')

                                                    title  year
37450                                     Treasure Island  1918
168477                                    Treasure Island  1920
73517                                     Treasure Island  1934
226257                      The Secret of Treasure Island  1938
210928                    Charlie Chan at Treasure Island  1939
47086                                     Treasure Island  1950
108940                          Return to Treasure Island  1954
103193                          Five on a Treasure Island  1957
113452                                    Treasure Island  1972
176339                                    Treasure Island  1973
32658                                     Treasure Island  1985
159492                             Muppet Treasure Island  1996
57966                                Treasure Island (II)  1999
21958                                     Treasure Island  1999
216156  Treasure Island Kids: The Mystery of Treasure ...  2006
152391  Treasure Island Kids: The Battle of Treasure I...  2006
47201                          Pirates of Treasure Island  2006
61858   Treasure Island Kids: The Monster of Treasure ...  2006
109636             National Theatre Live: Treasure Island  2015

### How many movies were made in the year 1950?

In [34]:
len(titles[titles.year == 1950])

1113

### How many movies were made in the year 1960?

In [35]:
len(titles[titles.year == 1960])

1549

### How many movies were made from 1950 through 1959?

In [38]:
len(titles[(titles.year >= 1950) & (titles.year <= 1959)])

12934

### In what years has a movie titled "Batman" been released?

In [39]:
titles[titles.title.str.contains('Batman')]

                                              title  year
1897                                Batman Unveiled  2018
2406                      Batman: The Final Victory  2010
5646                   Batman: Mask of the Phantasm  1993
6487                          Alyas Batman at Robin  1965
11667                              Batman and Robin  1949
26078                                Batman & Robin  1997
27278                              Batman: Crusader  2014
29822                                Batman Reboots  2010
49477                  Batman Beyond: Rising Knight  2014
64794                      Batman: The Killing Joke  2016
76381                       B@ (Batman Parody Film)  2016
82586                                 Batman Untold  2010
104614           B@: It's a Wonderful Life, Batman!  2016
106418                        Batman Fights Dracula  1967
110473                              Batman Revealed  2012
117282        Batman: Return of the Caped Crusaders  2016
118350                                Batman Begins  2005
127594                        Fight! Batman, Fight!  1973
139977                               Batman Dracula  1964
162149                Batman the Dawn of the Knight  2017
162909                              Batman: Anarchy  2016
163701                        The LEGO Batman Movie  2017
168891                               Batman Forever  1995
169831                  Batman the Rise of Red Hood  2018
171278                                 Batman Ninja  2018
177250                                 James Batman  1966
184166                        Alyas Batman en Robin  1991
189790  Scooby-Doo & Batman: the Brave and the Bold  2018
192592             Batman V Superman: League at War  2018
197610           Batman v Superman: Dawn of Justice  2016
203270                                       Batman  1989
225530                       Batman: Master of Fear  2017
225601                            Batman: The Movie  1966
227310                                       Batman  1943
243663                               Batman Returns  1992

### How many roles were there in the movie "Inception"?

In [43]:
len(cast[cast.title == 'Inception'])

17

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [48]:
c = cast[cast.title == 'Inception']
len(c[c.n.notnull()])

10

### But how many roles in the movie "Inception" did receive an "n" value?

In [49]:
c = cast[cast.title == 'Inception']
len(c[c.n.isnull()])

7

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [58]:
c = cast[cast.title == 'North by Northwest']
c = c[c.n.notnull()]
c.sort_values(by='n')

,title,year,name,type,character,n
356707,North by Northwest,1959,Leo G. Carroll,actor,The Professor,5.0
665768,North by Northwest,1959,Robert Ellenstein,actor,Licht,11.0
464736,North by Northwest,1959,Philip Coolidge,actor,Dr. Cross,13.0
206471,North by Northwest,1959,Edward Binns,actor,Captain Junket,15.0

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [62]:
c = cast[(cast.title == 'Sleuth') & (cast.year == 1972)]
c.sort_values(by='n')

         title  year            name   type          character    n
326773  Sleuth  1972   Michael Caine  actor        Milo Tindle  2.0
373876  Sleuth  1972  Alec Cawthorne  actor  Inspector Doppler  3.0

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [63]:
c = cast[(cast.title == 'Sleuth') & (cast.year == 2007)]
c.sort_values(by='n')

         title  year                 name   type          character    n
326774  Sleuth  2007        Michael Caine  actor             Andrew  1.0
260242  Sleuth  2007      Kenneth Branagh  actor  Other Man on T.V.  NaN
373877  Sleuth  2007  Alec (II) Cawthorne  actor  Inspector Doppler  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [69]:
c = cast[(cast.title == 'Hamlet') & (cast.year == 1921)]
c = c[c.n.notnull()]
len(c)

3

### How many roles were credited in Branagh’s 1996 Hamlet?

In [70]:
c = cast[(cast.title == 'Hamlet') & (cast.year == 1996)]
c = c[c.n.notnull()]
len(c)

17

### How many "Hamlet" roles have been listed in all film credits through history?

In [71]:
c = cast[cast.title == 'Hamlet']
c = c[c.n.notnull()]
len(c)

55

### How many people have played an "Ophelia"?

In [74]:
c = cast
c = c[c.character == 'Ophelia']
len(c)

3

### How many people have played a role called "The Dude"?

In [78]:
c = cast
c = c[c.character == 'The Dude']
len(c)

6

### How many people have played a role called "The Stranger"?

In [79]:
c = cast
c = c[c.character == 'The Stranger']
len(c)

57

### How many roles has Sidney Poitier played throughout his career?

In [98]:
c = cast
c = c[c.name == 'Sidney Poitier']
len(c)

43

### How many roles has Judi Dench played?

In [99]:
c = cast
c = c[c.name == 'Judi Dench']
len(c)

55

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [104]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.n == 2) & ((c.year // 10 * 10) == 1940)]
c

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [106]:
c = cast
c = c[(c.name == 'Cary Grant') & (c.n == 1) & ((c.year // 10 * 10) == 1940)]
c.sort_values(by='year')

,title,year,name,type,character,n
871448,The Howards of Virginia,1940,Cary Grant,actor,Matt Howard,1.0
871407,His Girl Friday,1940,Cary Grant,actor,Walter Burns,1.0
871450,The Philadelphia Story,1940,Cary Grant,actor,C. K. Dexter Haven,1.0
871438,Suspicion,1941,Cary Grant,actor,Johnnie Aysgarth,1.0
871452,The Talk of the Town,1942,Cary Grant,actor,Leopold Dilg,1.0
871429,Once Upon a Honeymoon,1942,Cary Grant,actor,Patrick 'Pat' O'Toole,1.0
871398,Destination Tokyo,1943,Cary Grant,actor,Capt. Cassidy,1.0
871422,Mr. Lucky,1943,Cary Grant,actor,Joe Adams -posing as Joe Bascopolous,1.0
871430,Once Upon a Time,1944,Cary Grant,actor,Jerry Flynn,1.0
871390,Arsenic and Old Lace,1944,Cary Grant,actor,Mortimer Brewster,1.0
871425,None But the Lonely Heart,1944,Cary Grant,actor,Ernie Mott,1.0
871424,Night and Day,1946,Cary Grant,actor,Cole Porter,1.0
871427,Notorious,1946,Cary Grant,actor,Devlin,1.0
871444,The Bachelor and the Bobby-Soxer,1947,Cary Grant,actor,Dick Nugent,1.0
871445,The Bishop's Wife,1947,Cary Grant,actor,Dudley,1.0
871421,Mr. Blandings Builds His Dream House,1948,Cary Grant,actor,Jim Blandings,1.0
871402,Every Girl Should Be Married,1948,Cary Grant,actor,Dr. Madison Brown,1.0
871411,I Was a Male War Bride,1949,Cary Grant,actor,Captain Henri Rochard,1.0

### How many roles were available for actors in the 1950s?

In [109]:
c = cast
c = c[(c.type == 'actor') & ((c.year // 10 * 10) == 1950)]
len(c)

157738

### How many roles were available for actresses in the 1950s?

In [110]:
c = cast
c = c[(c.type == 'actress') & ((c.year // 10 * 10) == 1950)]
len(c)

57733

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [111]:
c = cast
len(c[c.n == 1])

153233

### How many non-leading roles were available through from the beginning of film history through 1980?

In [112]:
c = cast
len(c[c.n != 1])

3632943

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [113]:
c = cast
len(c[c.n.isnull()])

1458573